# Example .scalafmt, comments are supported.
--style defaultWithAlign
--maxColumn 100
--javaDocs
--alignTokens true
--continuationIndentDefnSite 2
--continuationIndentCallSite 2
--binPackParentConstructors true
--alignByArrowEnumeratorGenerator true
